<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello!</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <div>
      <h1>
        DappHero Feature 3Box
      </h1>
      
      <div>
      
        3Box UserName: 
        
        <h2
          style="margin-bottom: 25px"
          data-dh-feature="threebox"
          data-dh-property-name="true"
        >*3Box user name placeholder*</h2>

        3Box User Website: 
        
        <h2
          style="margin-bottom: 25px"
          data-dh-feature="threebox"
          data-dh-property-website="true"
        >*3Box user name placeholder*</h2>
        
        3box Location
        
        <h2
            style="margin-bottom: 25px"
            data-dh-feature="threebox"
            data-dh-property-location="true"
            >location here
        </h2>
        </h2>

        3Box User Image: 
        
        <br/>
        <img 
        src="https://cdn.glitch.com/758fa0ca-236b-4624-b7f6-75873689641d%2Fdh-white.png?v=1581029577774" 
        alt="DappHero Logo"
        data-dh-feature="threebox" 
        data-dh-property-image="true"
        width="200">
        
      <br/>  
        Enable Button: 
        
        <button
          style="margin-top: 25px"
          data-dh-feature="network"
          data-dh-property-enable
        >
          Enable 
        </button>
        
        
      </div>
    </div>

    <script
      src="https://package.dapphero.io/main.js"
      id="dh-apiKey"
      data-api="1580767497772x353394266303889400"
    ></script>
  </body>
</html>
