<!DOCTYPE html>
<html lang="en">
  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css" />

  <!-- import the webpage's fonts file -->
  <link rel="stylesheet" href="https://use.typekit.net/uxx6oco.css" />

  <!-- These buttons allow you to page through results -->
  <button
    class="myButton"
    data-dh-property-pagination-prev="true"
    data-dh-property-tag-id="000"
  >
    A
  </button>
  <button
    class="myButton"
    data-dh-property-pagination-next="true"
    data-dh-property-tag-id="000"
  >
    B
  </button>
</html>
